h1{
    text-align: center;
    margin-top: 50px;
}
.gneu{
    text-align: center;
    color: rgb(205, 50, 58);
    
}
.gni{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;

}